
.btn.btn-primary
  color: white

=strobe($color-a, $color-b, $rate, $n)
  +keyframes(OVERHERE)
    0%
      color: $color-b 
      background: $color-a 
    50%
      color: $color-a
      background: $color-b
    100%
      color: $color-b
      background: $color-a

  animation: OVERHERE $rate $n

+keyframes(SPIN-ANIMATION)
  from
    transform: rotate(0deg)
    -ms-transform: rotate(0deg)
    -moz-transform: rotate(0deg)
    -webkit-transform: rotate(0deg)
  to 
    transform: rotate(360deg)
    -ms-transform: rotate(360deg)
    -moz-transform: rotate(360deg)
    -webkit-transform: rotate(360deg)

.flash
  +strobe(#fff, #000, .25, 4)

.hidden-xs .loading
  margin-left: .5em

.loading, i.loading.glyphicon
  animation: SPIN-ANIMATION 1.25s infinite
  -moz-animation: SPIN-ANIMATION 1.25s infinite
  -webkit-animation: SPIN-ANIMATION 1.25s infinite
  
