$font-stack:    Helvetica, sans-serif
$primary-color: #333
$default-weight: 500

body
  font: $font-stack
  color: $primary-color
  font-weight: $default-weight

#query-list
  li.complete 
    label
      text-decoration: line-through
 
