@import "bootstrap/variables"
@import "bootstrap/mixins"
@import "bootstrap/type"

$font-stack:    Helvetica, sans-serif
$primary-color: #333

*
  font: $font-stack
  color: $primary-color

p, li, a, input, label, span
  font-size: 14px
  line-height: 1.75em

h1
  font-weight: 700

#query-list
  li.complete
    label
      text-decoration: line-through


